$font-color: #6904a0;
.section {
    width: 85.83%;
    margin-top: 10.16%;
    margin-left: 6.95vw;
    
}
.section__title {
    font-family: "Oswald", sans-serif;
    color: $font-color;
    font-size: 38px;
    margin-bottom: 4.22%;
}
.section__paragraph {
    margin-top: 7.22%;
    font-family: "Raleway", sans-serif;
    color: $font-color;
    font-weight: 600;
}
#author {
    font-size: 10px;
}
.section__link {
    border: solid 1px black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10.63%;
    border-color: #c4c800;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    width: 80.56%;
    height: 45px;
    text-decoration: none;
}

@media (min-width: 1200px) {
    .section {
        margin-top: 3.16%;
        width: 62vw;
        height: 100vh;
        
    }
    .section__title {
        font-size: 4vw;
    }
    .section__paragraph {
        margin-top: 10%;
        font-size: 1.5vw;
    }
    #author {
        margin-top: 5%;
        font-size: 1vw;
    }

}
