@import './varibles.scss';

// ---------- MENU COMPONENT ---------- //


.header__desktop--logo {
    display: none;
}

.nav {
    .nav__icon--menuButton {
        margin: 4.84% 0 0 7.5%;
    }

    .nav__unfolded--icon {
        margin: 4.84% 0 0 7.5%;
    }

    /* unfolded div menu*/
    .nav__unfolded {
        position: fixed;
        z-index: 2;
        top: 0;
        height: 100%;
        width: 100vw;
        background-color: $background;
        transform: translate(-100%);
        transition-duration: 0.4s;

        .nav__unfolded--text--logo {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-family: "Oswald", sans-serif;
            color: $primary;
            height: 91px;
        }

        .nav__unfolded--text--logo--img {
            display: block;
            margin-bottom: 2vh;

        }

        .nav__unfolded--text--logo--h2 {
            margin-bottom: 2vh;

        }

    }
}

/*hide the nav for desktop display*/
.nav__links--desktop {
    position: absolute;
    transform: translateX(-110%);
}



// ---------- END MENU COMPONENT ---------- //



// ---------- LIBROS COMPONENT ---------- //
#basicCicleBooks {
    width: 100vw;

    .searchBar_container {
        margin-top: 2%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .section__buttons {
        button[type="button"] {
            width: 55%;
            height: 100%;
            font-size: 5px;
            margin-right: 3px;
            background-color: $background;
            border: solid 1px $primary;
            border-radius: 2px;
            color: $primary;
            font-weight: 700;
        }

        display: flex;
        margin-top: 1.56%;
        width: 70%;
        height: 4vh;
    }

    .section__gallery {

        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 20%;
        margin-top: 5%;

        img[alt="loading screen"] {
            grid-column: 2/3;
        }

        .section__gallery--container {
            margin-top: 5%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            border: solid 0.5px $books-borders;

            .section__gallery--container--img {
                width: 37.83vw;
                height: 23.25vh;
                max-width: 111px;
                max-height: 168px;
                border-radius: 27px;
            }

            .section__gallery--container--title {
                font-family: "Raleway", sans-serif;
                font-size: 2vw;
                color: $primary;
                margin-top: 10px;
                text-transform: uppercase;
            }

            .section__gallery--container--link {
                font-family: "Oswald", sans-serif;
                font-size: 5px;
                color: $primary;
                text-decoration: none;
                font-weight: 900;
                font-size: 9px;
                margin-top: 7px;
            }
        }


    }
}


// ---------- END LIBROS COMPONENT ---------- //

// ---------- VER-MAS COMPONENT ---------- //

.section__gallery--showing--the--book {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: $background;
    overflow-y: scroll;

    .section__gallery--showing--the--book--container {
        margin-top: 5%;
        height: 50%;
        max-width: 1516px;

        .section__gallery--showing--the--book--img {
            width: 50%;
            height: 70%;
            max-width: 216.75px;
            max-height: 327.083px;
            min-width: 188px;
            min-height: 270px;
        }

        .section__gallery--showing--the--book--container--img--buttons-titles {

            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .button__container {
                display: flex;
                justify-content: center;
                width: 100%;
                margin-bottom: 1%;
                max-width: 195px;

            }

            #buttons {
                margin-top: 20%;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;

            }
        }

        .section__gallery--showing--the--book--sub--synopsys--container {
            display: block;
            border-top: solid 0.5px $primary;
            width: 100%;
            height: 100%;
            margin-left: 2%;
            margin-top: 5%;

            .section__gallery--showing--the--book--sub--synopsys--container--h4 {
                font-family: "Oswald", sans-serif;
                margin-top: 5%;
                margin-bottom: 2%;
                color: $primary;
                font-size: 14px;
            }

            .section__gallery--showing--the--book--sub--title {
                font-family: "Oswald", sans-serif;
                font-size: 10px;
                color: $primary;
                margin-bottom: 5%;
            }

            .section__gallery--showing--the--book--sub--synopsys--container--p {
                font-family: "Raleway", sans-serif;
                color: $primary;
                font-weight: 700;
                width: 94%;
                margin-bottom: 15%;
                font-size: 12px;
            }

        }

    }


}

// ---------- END VER-MAS COMPONENT ---------- //



/* -- MEDIA QUERIES -- */


@media (min-width: 768px) {

    // ---------- LIBROS COMPONENT ---------- //
    #basicCicleBooks {
        width: 100vw;

        .section__gallery {

            .section__gallery--container {
                .section__gallery--container--img {
                    width: 100%;
                    height: 125%;

                }
            }


        }
    }


    // ---------- END LIBROS COMPONENT ---------- //




    // ---------- VER-MAS COMPONENT ---------- //

    .section__gallery--showing--the--book {

        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        .section__gallery--showing--the--book--container {
            display: flex;
            align-items: center;
            width: 90%;
            margin: 0 5% 0 5%;
            height: 100%;

            //imagen zone
            .section__gallery--showing--the--book--container--img--buttons-titles {}

            //sinopsis zone
            .section__gallery--showing--the--book--sub--synopsys--container {
                margin-top: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-left: solid 1px $primary;
                padding-left: 1%;

                .section__gallery--showing--the--book--sub--synopsys--container--h4 {
                    font-size: 1.5vw;
                }

                .section__gallery--showing--the--book--sub--title {

                    font-size: 1.3vw;
                }

                .section__gallery--showing--the--book--sub--synopsys--container--p {

                    font-size: 1vw;
                }


            }
        }

    }

    // ---------- END VER-MAS COMPONENT ---------- //

}


@media (max-height: 500px) {
    .section__gallery--showing--the--book {

        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        .section__gallery--showing--the--book--container {
            display: flex;
            align-items: center;
            width: 90%;
            margin: 0 5% 0 5%;
            height: 100%;

            //imagen zone
            .section__gallery--showing--the--book--container--img--buttons-titles {}

            //sinopsis zone
            .section__gallery--showing--the--book--sub--synopsys--container {
                margin-top: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-left: solid 1px $primary;
                padding-left: 1%;

                .section__gallery--showing--the--book--sub--synopsys--container--h4 {
                    font-size: 1.5vw;
                }

                .section__gallery--showing--the--book--sub--title {

                    font-size: 1.3vw;
                }

                .section__gallery--showing--the--book--sub--synopsys--container--p {

                    font-size: 1vw;
                }


            }
        }

    }

}

@media (min-width: 1200px) {

    /* MENU COMPONENT */
    .nav {
        position: absolute;
        transform: translateX(-110%);
    }

    .nav__desktop {
        border-bottom: solid 0.5px $secondary;
        height: 16vh;
        display: flex;
        align-items: center;

        .header__desktop--logo {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100vw;
            height: 100%;
            padding-left: 2.1vw;

            .header__desktop--logo--image {
                margin-left: -36.0px;
                width: 100px;
                height: 100px;
            }
        }

        .nav__desktop--container {
            width: 50.1vw;
            display: inherit;
            align-items: flex-end;
            justify-content: flex-start;
            margin-left: 2.7vw;

        }
    }

    .nav__links {
        font-family: "Raleway", sans-serif;
        text-decoration: none;
        margin-left: 20px;
        font-weight: 700;

    }

    .nav__links--desktop {
        position: relative;
        transform: translateX(0);
    }

    // ---------- END MENU COMPONENT ---------- //


    /* LIBROS COMPONENT */
    #basicCicleBooks {
        .section__gallery {
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            row-gap: 0%;

            .section__gallery--container {
                width: 100%;

                .section__gallery--container--title {
                    font-size: 0.6vw;
                    margin-top: 3%;
                }

                .section__gallery--container--link {
                    margin-top: 3%;
                    font-size: 20px;
                }
            }
        }
    }

    // ---------- END MENU COMPONENT ---------- //

    // ---------- VER-MAS COMPONENT ---------- //
    .section__gallery--showing--the--book {

   
        .section__gallery--showing--the--book--container {
 

            //imagen zone
            .section__gallery--showing--the--book--container--img--buttons-titles {
                
                .section__gallery--showing--the--book--img{
                    min-width: 400px;
                    min-height: 600px;
                }
            }

            //sinopsis zone
            .section__gallery--showing--the--book--sub--synopsys--container {
  
                .section__gallery--showing--the--book--sub--synopsys--container--h4 {
                }

                .section__gallery--showing--the--book--sub--title {

                }

                .section__gallery--showing--the--book--sub--synopsys--container--p {
                }
            }
        }

    }

    // ---------- END VER-MAS COMPONENT ---------- //




}